<?xml version="1.0"?>
<robot name="marvin_robot" xmlns:xacro="http://ros.org/wiki/xacro">
 <xacro:macro  name="stand">
  <!-- Define mesh path as a Xacro property -->
  <!-- base Link -->
  <link
      name="base_link">
    </link>
  
  <link name="tracking_base_link"/>
  <joint name="base_to_tracking_base" type="fixed">
    <parent link="base_link"/>
    <child link="tracking_base_link"/>
    <origin xyz="0 0 -1" rpy="0 0 0"/>
  </joint>

  <link name="column_link">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://marvin_description/meshes/base/stand.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://marvin_description/meshes/base/stand.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="base_to_column" type="fixed">
    <parent link="column_link"/>
    <child link="base_link"/>
    <origin xyz="0 0 1.06" rpy="0 0 0"/>
  </joint>  
  <link
    name="support_link">
    <inertial>
      <origin
        xyz="-0.00178183454612997 1.3121883108159E-07 0.122473508152425"
        rpy="0 0 0" />
      <mass
        value="1.55364446722042" />
      <inertia
        ixx="0.00467192700769289"
        ixy="4.25232455629846E-09"
        ixz="7.3088540964288E-06"
        iyy="0.00568966521115758"
        iyz="-2.13159410675066E-09"
        izz="0.003920353604655" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://marvin_description/meshes/base/support_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://marvin_description/meshes/base/support_link.STL" />
      </geometry>
    </collision>
  </link>
  
  <joint name="support_joint" type="fixed">
    <parent link="base_link"/>
    <child link="support_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="camera_link"/>
    <joint name="camera_joint" type="fixed">
    <parent link="support_link"/>
    <child link="camera_link"/>
    <origin rpy="0.0 0.785 0.0" xyz="0.0369887 0.0 0.48752"/>
  </joint>
  
</xacro:macro>
</robot>

