<?xml version="1.0"?>
<robot name="marvin_robot" xmlns:xacro="http://ros.org/wiki/xacro">
 <xacro:macro  name="stand">
  <!-- Define mesh path as a Xacro property -->
  <!-- base Link -->
    <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0081994 -5.1239E-06 0.47835"
        rpy="0 0 0" />
      <mass
        value="18.846" />
      <inertia
        ixx="0.46346"
        ixy="7.6311E-07"
        ixz="-0.00053819"
        iyy="0.46325"
        iyz="3.466E-06"
        izz="0.37766" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://marvin_description/meshes/base/ZJ_Robot_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.8 0.8 0.8 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://marvin_description/meshes/base/ZJ_Robot_link.STL" />
      </geometry>
    </collision>
  </link>

  <link name="tracking_base_link"/>
  <joint name="base_to_tracking_base" type="fixed">
    <parent link="base_link"/>
    <child link="tracking_base_link"/>
    <origin xyz="0 0 -0.1" rpy="0 0 0"/>
  </joint>
  <link name="camera_link"/>
    <joint name="camera_joint" type="fixed">
    <parent link="base_link"/>
    <child link="camera_link"/>
    <origin rpy="0.0 0.785 0.0" xyz="0.0369887 0.0 0.48752"/>
  </joint>
  
</xacro:macro>
</robot>
